/nbproject/
/node_modules/
/.idea/
.DS_Store
/documentation/
/doc/
config/config.json
.settings
.project
.npmrc
.tern-project
.nyc_output
npm-debug.log
/tmp/
/dist/
/docs/
/logs/
/coverage/
/tests/
/schemas/
classes.json
*.log